<div class="h-100 overflow-scroll">
  <div class="d-flex flex-1 flex-column justify-content-start align-items-center py-5 mb-5">
    <div class="card w-100" style="max-width: 480px">
      <div class="card-body">
        <div *ngIf="(user$ | async) as user">
          <h4 class="card-title font-serif">账户设置</h4>

          <div *ngIf="(errorMessage$ | async) as errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <div *ngIf="(statsMessage$ | async) as statusMessage" class="alert alert-success">{{ statusMessage }}</div>
          
          <h5 class="font-serif">账户资料</h5>

          <form [formGroup]="userDataForm" (ngSubmit)="updateUserData()" novalidate>
            <div class="form-group">
              <label for="nameInput" >昵称</label>
              <input
                id="nameInput"
                class="form-control"
                type="text"
                formControlName="name"
                placeholder="Display Name"
                [ngClass]="{ 'is-invalid': name.touched && name.invalid }"
                autocomplete="name"
              />
              <div class="invalid-feedback">
                <div *ngIf="name.hasError('required')" >昵称为必填项。</div>
              </div>
            </div>

            <div class="form-group">
              <label for="emailInput" >邮箱地址</label>
              <input
                id="emailInput"
                class="form-control"
                type="email"
                formControlName="email"
                placeholder="Email"
                [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
                autocomplete="email"
              />

              <div class="invalid-feedback">
                <div *ngIf="email.getError('required')" >邮箱地址为必填项。</div>
                <div *ngIf="email.getError('email')" >请输入有效的邮箱地址。</div>
              </div>
            </div>

            <button
              class="btn btn-primary w-100"
              [disabled]="!userDataForm.dirty || !userDataForm.valid || (isLoading$ | async)"
              type="submit"
              
            >
              保存更改
            </button>
          </form>

          <br />
          <hr />

          <h5 class="font-serif">修改密码</h5>

          <form [formGroup]="userPasswordForm" (ngSubmit)="changePassword()" novalidate>
            <div class="form-group">
              <label for="oldPasswordInput" >目前密码</label>
              <input
                id="oldPasswordInput"
                class="form-control"
                type="password"
                formControlName="oldPassword"
                placeholder="Your current password"
                [ngClass]="{ 'is-invalid': oldPassword.touched && oldPassword.invalid }"
                autocomplete="off"
              />

              <div class="invalid-feedback">
                <div *ngIf="oldPassword.getError('required')" >密码为必填项。</div>
                <div *ngIf="oldPassword.getError('minlength')" >密码长度最小为8位。</div>
              </div>
            </div>

            <div class="form-group">
              <label for="newPasswordInput" >新的密码</label>
              <input
                id="newPasswordInput"
                class="form-control"
                type="password"
                formControlName="newPassword"
                placeholder="Your new password"
                [ngClass]="{ 'is-invalid': newPassword.touched && newPassword.invalid }"
                autocomplete="off"
              />

              <div class="invalid-feedback">
                <div *ngIf="newPassword.getError('required')" >密码为必填项。</div>
                <div *ngIf="newPassword.getError('minlength')" >密码长度最小为8位。</div>
              </div>
            </div>

            <button
              class="btn btn-primary w-100"
              [disabled]="!userPasswordForm.dirty || !userPasswordForm.valid || (isLoading$ | async)"
              
              type="submit"
            >
              保存更改
            </button>
          </form>

          <br />

          <hr />

          <button
            class="btn btn-danger btn-sm float-right"
            [disabled]="isLoading$ | async"
            (click)="deleteAccount(user)"
            
          >
            删除我的账户
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
